@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (values == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in values)
            {
                <tr>
                    <td>@value</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    string[] values;

    protected override async Task OnInitAsync()
    {
        values = await Http.GetJsonAsync<string[]>("https://localhost:44329/api/values");
    }
}
