@using Blazor.Extensions;
@using Blazor.Extensions.Storage;
@using AspNetMonsters.Blazor.Geolocation;
@using Microsoft.JSInterop;

@inject LocalStorage localStorage
@inject LocationService LocationService

@page "/location"

<div class="container">
    <input type="button" id="sendMessage" value="Send" class="btn btn-primary" onclick="@SendMessage" />
    <ul id="discussion">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
</div>
<div class="container">
    <div id="mapid">

    </div>
</div>

@functions {
    Dictionary<string, AspNetMonsters.Blazor.Geolocation.Location> locations = new Dictionary<string, AspNetMonsters.Blazor.Geolocation.Location>();
    HubConnection connection;
    IList<string> messages = new List<string>();
    AspNetMonsters.Blazor.Geolocation.Location location;
    string token;

    protected override async Task OnAfterRenderAsync()
    {
        location = await LocationService.GetLocationAsync();
        await JSRuntime.Current.InvokeAsync<bool>("SetMap", location.Latitude, location.Longitude);
        //await JSRuntime.Current.InvokeAsync<bool>("AddLocation", location.Latitude, location.Longitude);
    }

    protected override async Task OnInitAsync()
    {
        token = await localStorage.GetItem<string>("token");
        connection = new HubConnectionBuilder().WithUrl("http://localhost:64827/locationhub", options =>
        {
            options.AccessTokenProvider = () => Task.FromResult(token);
        })
        .Build();
        connection.On<string, decimal, decimal>("broadcastMessage", this.OnBroadcastMessage);
        await connection.StartAsync();
    }

    async Task OnBroadcastMessage(string token, decimal latitude, decimal longitute)
    {
        if (locations.ContainsKey(token))
        {
            locations[token] = new AspNetMonsters.Blazor.Geolocation.Location { Latitude = latitude, Longitude = longitute };
        }
        else
        {
            locations.Add(token, new AspNetMonsters.Blazor.Geolocation.Location { Latitude = latitude, Longitude = longitute });
        }

        await JSRuntime.Current.InvokeAsync<bool>("SetMap", location.Latitude, location.Longitude);
        foreach (var loc in locations)
        {
            await JSRuntime.Current.InvokeAsync<bool>("AddLocation", loc.Value.Latitude, loc.Value.Longitude);
        }

        return;
    }

    async Task SendMessage()
    {
        location = await LocationService.GetLocationAsync();
        await connection.InvokeAsync("Send", token, location.Latitude, location.Longitude);
    }
}